/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.level-1{margin-left:10px;}
.level-2{margin-left:20px;}
.level-3{margin-left:30px;}
.level-4{margin-left:40px;}
.level-5{margin-left:50px;}
.level-6{margin-left:60px;}
.level-7{margin-left:70px;}
.level-8{margin-left:80px;}
.level-9{margin-left:90px;}
